<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IT-квантум web-разработка{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <script defer src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body class="bg-white">
    {% include 'components/drawer.j2' %}
    {% include 'sections/header.j2' %}

    <main class="">
        {% block body %} {% endblock %}
    </main>

    {% include 'sections/footer.j2' %}
</body>
</html>
