{% import 'components/section.j2' as section %}
{% import 'components/typography.j2' as typography %}

{% macro about_card(heading, class = "") %}
    <article
        class="desktop:aspect-square rounded-3xl p-3 {{ class }}"
    >
        {{ typography.montserrat_sub_heading(
            heading,
            'h3',
            class = 'mb-4 desktop:mb-6'
        ) }}

        {{ caller() }}
    </article>
{% endmacro %}

{% macro about_skills_card(skills = []) %}
    {% call about_card(
        'Чему научатся',
        class = "text-green border border-green ",
    ) %}
        <ol
            class="list-decimal flex flex-col gap-1"
        >
            {% for skill in skills %}
                {{ typography.raleway_body(
                    skill,
                    'li',
                    class="border border-green list-inside w-fit px-2 desktop:px-3 py-1 rounded-3xl"
                ) }}
            {% endfor %}
        </ol>
    {% endcall %}
{% endmacro %}

{% macro about_description_card(description = '') %}
    {% call about_card(
        'Web-разработка',
        class = "bg-yellow text-black ",
    ) %}
        {{ typography.raleway_body(description) }}
    {% endcall %}
{% endmacro %}

{% macro about_projects_card(projects = []) %}
    {% call about_card(
        'Проекты',
        class = "bg-gradient-to-tr from-light-black to-green text-white ",
    ) %}
        <ol
            class="list-decimal list-inside"
        >
            {% for project in projects %}
                {{ typography.raleway_body(project, 'li') }}
            {% endfor %}
        </ol>
    {% endcall %}
{% endmacro %}

{% call section.section('О направлении', 'about') %}
    <div class="grid desktop:grid-cols-3 gap-1  desktop:gap-[1px]">
        {{ about_skills_card([
            'Основы html css и js',
            'Frontend разработке',
            'Backend разработке',
            'Современные инструменты',
        ]) }}

        {{ about_description_card(
            'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat impedit provident sequi! Odit, enim rem!',
        ) }}

        {{ about_projects_card([
            'Discord и telegram боты',
            'Сайт с использованием современных библиотек и фреймворках',
            'Сайт с применением 3D-графики',
        ]) }}
    </div>
{% endcall %}
