{% import './components/container.j2' as container %}
{% import './components/typography.j2' as typography %}
{% import './components/contact_card.j2' as contact_card %}

<footer
    id="footer"
    class="bg-black rounded-t-3xl"
>
    {% call container.footer_container() %}

        {{ typography.montserrat_heading(
            'Контакты',
            'h2',
            class = "text-white mb-6 desktop:mb-10"
        ) }}
        <div
            class="grid grid-flow-row desktop:grid-cols-3 gap-1 desktop:gap-[1px]"
        >
            {{ contact_card.contact_card('vk', '@username', 'https://vk.com', '#0077FF') }}
            {{ contact_card.contact_card('discord', '@username', 'https://discord.com', '#5566E4') }}
            {{ contact_card.contact_card('github', '@username', 'https://github.com', '#000000') }}
            {{ contact_card.contact_card('telegram', '@username', 'https://telegram.org', '#2BA6E1') }}
            {{ contact_card.contact_card('email', 'email@gmail.com', 'https://gmail.com', '#E7CC69') }}
            {{ contact_card.contact_card('discord', 'сервер в дискорд', 'https://discord.com', '#5566E4') }}
            {{ contact_card.contact_card('telegram', 'группа в телеграме', 'https://telegram.org', '#2BA6E1') }}
        </div>

        <hr
            class="border-white mt-4 desktop:mt-8 mb-2"
        >

        {% set copyright = now.year|string + " г. Волжский" %}
        {{ typography.raleway_sub_heading(
            copyright,
            class = "text-center text-white block"
        ) }}
    {% endcall %}
</footer>
