{% import 'components/section.j2' as section %}
{% import 'components/typography.j2' as typography %}

{% macro theme_list(heading, is_ordered = false) %}
    <div>
        {{ typography.raleway_body(heading|string + ':', class = "text-white mb-3") }}

        {% if is_ordered %}
            {% set list = 'ol' %}
        {% else %}
            {% set list = 'ul' %}
        {% endif %}

            <{{ list }} class="text-white list-decimal list-inside">
                {{ caller() }}
            </{{ list }}>
    </div>
{% endmacro %}

{% macro theme_materials_list(materials) %}
    {% call theme_list('дополнительные материалы') %}
        {% for material in materials %}
            <li>
                <a
                    href="{{material[1]}}"
                    target="_blank"
                >
                    {{ typography.raleway_body(
                        material[0],
                        class = "underline"
                    ) }}
                </a>
            </li>
        {% endfor %}
    {% endcall %}
{% endmacro %}

{% macro theme_skills_list(skills) %}
    {% call theme_list('чему научится', true) %}
        {% for skill in skills %}
            <li>
                {{ typography.raleway_body(skill) }}
            </li>
        {% endfor %}
    {% endcall %}
{% endmacro %}

{% macro theme(name, image, skills, materials) %}
    <article
        class="bg-no-repeat bg-left bg-cover rounded-3xl overflow-hidden"
        style="background-image: url({{ image }});"
    >
        <div
            class="bg-gradient-to-b desktop:bg-gradient-to-r from-transparent via-light-black to-yellow p-3 desktop:p-8 pt-56 desktop:pt-3"
        >
            <div
                class="desktop:w-2/3 ml-auto"
            >
                {{ typography.montserrat_heading(name, 'h3', class = "text-white mb-2 desktop:mb-4 ") }}

                <div
                    class="grid grid-cols-2"
                >
                    {{ theme_skills_list(skills) }}
                    {{ theme_materials_list(materials) }}
                </div>
            </div>
        </div>
    </article>
{% endmacro %}

{% call section.section('Образовательные модули', 'modules') %}
    <div>
        {% set modules = fetch_modules() %}

        {% for module in modules %}

            {% set module_name, themes = module %}

            {{ typography.montserrat_sub_heading(module_name, 'h3', class = "mb-4 text-black") }}

            <ul
                class="flex flex-col gap-2"
            >
                {% for _theme in themes %}
                    {% set theme_name, skills, materials = _theme %}

                    <li>
                        {{ theme(
                            theme_name,
                            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4swcYshaYiLmiCWkOp4RWihWzsZgLjVoS7tslRYWA&s',
                            skills,
                            materials
                        ) }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endcall %}
