{% import 'components/section.j2' as section %}
{% import 'components/typography.j2' as typography %}

{% set news = fetch_news() %}

{% for _news in news %}
    {% set heading, content, image_url = _news %}

    {% call section.section(heading) %}
        <div
            class="desktop:clear-both"
        >
            <img
                class="desktop:float-right desktop:w-1/2 rounded-3xl"
                src="{{ image_url }}"
                alt="{{ heading }}"
            >

            {{ typography.body(content) }}
        </div>
    {% endcall %}
{% endfor %}
