{% import 'components/section.j2' as section %}
{% import 'components/typography.j2' as typography %}

{% set news = News.select() %}

{% for _news in news %}
    {% call section.section(_news.heading) %}
        <div
            class="desktop:clear-both"
        >
            <img
                class="desktop:float-right desktop:w-1/2 rounded-3xl"
                src="{{ _news.image_url }}"
                alt="{{ _news.heading }}"
            >

            {{ typography.body(_news.content) }}
        </div>
    {% endcall %}
{% endfor %}
