{% macro hero_card(label, href = None, text_color = "#232123") -%}
    <a
        class="block p-6 h-full"
        href={{href}}
    >
        <article
            class="flex flex-col justify-between h-full"
        >
            <div
                style={{"color:" + text_color + ";"}}
                class="font-regular text-5xl"
            >
                {{ label }}
            </div>
        </article>
    </a>
{%- endmacro %}
