{% extends "layout.j2" %}
{% import './macros/hero.j2' as hero %}
{% import './macros/about_section.j2' as about_section %}

{% block body %}
{{ hero.hero() }}
{{ about_section.about_section() }}
{% endblock %}
