{% extends "layout.j2" %}

{% block body %}
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus animi tempore mollitia magnam sunt illo tempora et, placeat quos labore voluptatum rem earum veritatis impedit neque, atque similique deserunt dicta.
{% endblock %}
