{% extends "layout.j2" %}
{% import './macros/hero.j2' as hero %}
{% import './macros/about_section.j2' as about_section %}
{% import './macros/photos_section.j2' as photos_section %}
{% import './macros/modules_section.j2' as modules_section %}

{% block body %}
    {{ hero.hero() }}
    {{ about_section.about_section() }}
    {{ photos_section.photos_section() }}
    {{ modules_section.modules_section() }}
{% endblock %}
