{% import './macros/container.j2' as container %}
{% import './macros/footer.j2' as footer %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-квантум web-разработка</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body class="grid grid-rows-[auto_1fr_auto] h-screen">
    <header class="bg-gradient-to-tr from-black to-light-black">
        {% call container.container() %}
            <a href="#" class="text-white">
                IT-квантум (web-разработка)
            </a>

            <div class="bg-yellow">
            </div>
        {% endcall %}
    </header>
    <main class="">
        {% block body %} {% endblock %}
    </main>
    {{ footer.footer() }}
</body>
</html>
