{% import './macros/container.j2' as container %}
{% import './macros/footer.j2' as footer %}
{% import './macros/header.j2' as header %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-квантум web-разработка</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body class="bg-white">
    {{ header.header(url_for(request.endpoint) == '/') }}
    <main class="">
        {% block body %} {% endblock %}
    </main>
    {{ footer.footer() }}
</body>
</html>
