{% extends "layouts/base.j2" %}
{% import 'components/typography.j2' as typography %}

{% block body %}
    {% include 'sections/hero.j2' %}
    {% include 'sections/about.j2' %}
    {% include 'sections/modules.j2' %}
    {% include 'sections/galery.j2' %}
{% endblock %}
