{% extends "layouts/base.j2" %}

{% block body %}
    {% include 'sections/hero.j2' %}
    {% include 'sections/about.j2' %}
    {% include 'sections/galery.j2' %}
    {% include 'sections/modules.j2' %}
{% endblock %}
