{% macro hero_card(href, class="") %}
    <a
        class="block p-6 rounded-3xl h-full {{ class }}"
        href="{{ href }}"
    >
        {{ caller() }}
    </a>
{% endmacro %}

{% macro hero_card_one_line_content(heading, class="") %}
    <span class="font-regular text-5xl {{ class }}">
        <article>
            {{ heading }}
        </article>
    </span>
{% endmacro %}

{% macro hero_card_two_line_content(heading, subheading) %}
    <article class="flex flex-col justify-between h-full">
        <span class="text-white inline-block px-4 py-2 border rounded-3xl w-fit font-regular text-5xl">
            {{ heading }}
        </span>

        <span class="self-end text-white text-end font-regular text-2xl">
            {{ subheading }}
        </span>
    </article>
{% endmacro %}
