{% import 'components/container.j2' as container %}
{% import 'components/typography.j2' as typography %}

{% macro section(heading, id="", class="", is_dark = false) %}
    {% set caller_content = caller() %}

    <section
        class="{{ class }}"
        id="{{ id }}"
    >
        {% call container.section_container() %}
            {{ typography.montserrat_heading(
                heading,
                'h2',
                class = "text-black mb-6 desktop:mb-10"
            ) }}

            {{ caller_content }}
        {% endcall %}
    </section>
{% endmacro %}
