{% import './macros/container.j2' as container %}
{% import './macros/contact_card.j2' as contact_card %}

{% macro footer() -%}
    <footer class="bg-black rounded-t-3xl">
        {% call container.container() %}
            <h2 class="mb-10 text-white font-headings text-6xl">
                Контакты
            </h2>
            <div class="mb-12 grid grid-flow-row grid-cols-3 gap-[1px]">
                {{ contact_card.contact_card('vk', '@username', 'https://vk.com', '#0077FF') }}
                {{ contact_card.contact_card('discord', '@username', 'https://discord.com', '#5566E4') }}
                {{ contact_card.contact_card('github', '@username', 'https://github.com', '#000000') }}
                {{ contact_card.contact_card('telegram', '@username', 'https://telegram.org', '#2BA6E1') }}
                {{ contact_card.contact_card('email', 'email@gmail.com', 'https://gmail.com', '#E7CC69') }}
                {{ contact_card.contact_card('discord', 'сервер в дискорд', 'https://discord.com', '#5566E4') }}
                {{ contact_card.contact_card('telegram', 'группа в телеграме', 'https://telegram.org', '#2BA6E1') }}
            </div>

            <hr class="border-white mt-0 mb-2">

            <div class="text-center text-white font-regular text-2xl">2023 Волжский</div>
        {% endcall %}
    </footer>
{%- endmacro %}
