{% macro hero_card(top_label, href = None, text_color = "#232123") -%}
    <a
        class="block p-6 h-full"
        href={{href}}
        target="_blank"
    >
        <article
            class="flex flex-col justify-between h-full"
        >
            <div style={{"color:" + text_color + ";"}}>
                {{ top_label }}
            </div>
        </article>
    </a>
{%- endmacro %}
