{% import './macros/container.j2' as container %}
{% import './macros/theme.j2' as theme %}

{% macro modules_section() %}
    <section>
        {% call container.container() %}
            <h2 class="mb-10 text-6xl font-headings text-black">
                Образовательные модули
            </h2>

            <div>
                <h3 class="mb-4 text-black font-regular text-3xl underline">
                    Модуль 1
                </h3>
                <ul class="flex flex-col gap-2">
                    <li>
                        {{ theme.theme(
                            'Тема 1',
                            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4swcYshaYiLmiCWkOp4RWihWzsZgLjVoS7tslRYWA&s',
                            [
                                'навык 1',
                                'навык 2',
                                'навык 3',
                            ],
                            [
                                { 'label': 'материал 1', 'href': 'lorem' },
                                { 'label': 'материал 2', 'href': 'lorem' },
                                { 'label': 'материал 3', 'href': 'lorem' },
                            ]
                        ) }}
                    </li>
                    <li>
                        {{ theme.theme(
                            'Тема 1',
                            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4swcYshaYiLmiCWkOp4RWihWzsZgLjVoS7tslRYWA&s',
                            [
                                'навык 1',
                                'навык 2',
                                'навык 3',
                            ],
                            [
                                { 'label': 'материал 1', 'href': 'lorem' },
                                { 'label': 'материал 2', 'href': 'lorem' },
                                { 'label': 'материал 3', 'href': 'lorem' },
                            ]
                        ) }}
                    </li>
                </ul>
            </div>
        {% endcall %}
    </section>
{% endmacro %}
